@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

input {
    display: center;
    width: 20rem;
    height:  2rem;
    padding: 0.5rem;
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 2rem;
    border-style: solid;
    font-family: 'DM Sans', sans-serif;
}
input::placeholder{
    color: #cfcfcf;
}
span2 {
    color: #E42EA6;
}
.Add {
    width: 4rem;
    border-style: solid;
}
.Tag {
    width: 16rem;
    border-style: solid;
}
button {
    border: none;
    padding: 1rem;
    width: 21.2rem;
    font-size: 1.4rem;
    border-radius: 0.2rem;
    cursor: pointer;
    text-align: center;
    font-family: 'DM Sans', sans-serif;
}
button:hover {
    background-color: #95C3F5;
}
.message {
    font-size: 1.2rem;
    text-decoration: center;
    color: #36a936;
}

h2 {
    padding-top: 6rem;
    font-family: 'DM Sans', sans-serif;
}