@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
.tag-items{
    border: 1px solid;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    font-size: 12px;
    height: 30px;
}


.discover-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'DM Sans', sans-serif;
    color: var(--text-primary);
    background-color: var(--text-secondary);
}

.dropdown{
    /* margin-top: 200px; */
    padding: 10px;
    font-size: 20px;
    font-family: 'DM Sans', sans-serif;
}

.results{
    /* border: 1px solid; */
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    font-family: 'DM Sans', sans-serif;
    background-color: var(--text-secondary);
}
.results-item{
    border: 1px solid;
    width: 300px;
    height: 150px;
    margin-bottom: 20px;
    text-decoration: none;
    color: var(--text-primary);
    text-align: center;
    display: flex;
    animation: 1s ease-out 0s 1 show;
    box-shadow: 0px 5px 10px;
    border-radius: 5%;
}
.results  a{
    text-decoration: none;
}
.results-item button{
    border: 1px solid;
    width: 70px;
    height: px;

}
.find{
    /* border: 1px solid; */
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    height: 700px;
    background: rgb(30, 135, 241);
        background: linear-gradient(324deg, rgba(30, 135, 241, 1) 0%, rgba(235, 125, 216, 1) 100%);
}
.search{
    padding: 10px;
        font-size: 20px;
        width: 500px;
        border-radius: 10px;
        box-shadow: 0px 5px 10px;
}

.upper{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}
.scope{
    /* border: 1px solid; */
    height: 300px;
    float: right;
    /* margin-left: 70%; */
    /* position: absolute; */
}

.upper h1 {
    font-size: 20px;
}

.results-item h3{
    font-size: 18px;
}

.results-item-left{
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 10%;
}

.results-item-right{
    border-left: 1px solid;
    width: 90%;
}
.float-create{
    position: fixed;
        width: 60px;
        height: 60px;
        bottom: 40px;
        right: 40px;
        background-color: rgb(255, 255, 255);
        color: rgb(30, 135, 241);
        border-radius: 50px;
        text-align: center;
        box-shadow: 2px 2px 3px #999;
}
.float-create:hover{
    cursor: pointer;
    background-color: rgb(30, 135, 241);
    color: white;
    animation-name: rotate-center;
    animation-duration: 1s;
}

@keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes show {
    0% {
        opacity: 0%;;
    }

    100% {
        opacity: 100%;;
    }
}

@media (min-device-width: 320px) and (max-device-width: 812px) {
    .scope{
        margin: 0;
        height: 200px;
        margin-top: 500px;
    }
    .find{
        flex-direction: column;
    }
}