@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
.tag-items{
    border: 1px solid;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    font-size: 12px;
    height: 30px;
    
}
.all-tags{
    border: 1px solid;
    background-color: red;
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    flex-wrap: wrap;
}

.discover-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'DM Sans', sans-serif;
    color: var(--text-primary);
    background-color: var(--text-secondary);
}

.dropdown{
    /* margin-top: 200px; */
    padding: 10px;
    font-size: 20px;
    font-family: 'DM Sans', sans-serif;
}

.results{
    /* border: 1px solid; */
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    font-family: 'Playfair Display', serif;
}
.results-item{
    border: 1px solid;
    width: 300px;
    height: 150px;
    margin-bottom: 20px;
    text-decoration: none;
    color: black;
}
.results  a{
    text-decoration: none;
}
.results-item button{
    border: 1px solid;
    width: 70px;
    height: px;

}
.find{
    /* border: 1px solid; */
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 700px;
    background: rgb(30, 135, 241);
        background: linear-gradient(324deg, rgba(30, 135, 241, 1) 0%, rgba(235, 125, 216, 1) 100%);
}
.search{
    padding: 10px;
        font-size: 20px;
        font-family: 'DM Sans', sans-serif;
        width: 300px;
}

.upper{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}
.scope{
    /* border: 1px solid; */
    height: 400px;
    margin-top: 305px;
    margin-left: 900px;
    position: absolute;
}

