@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');


.home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    font-family: 'DM Sans', sans-serif;
    color: var(--text-secondary);
    background-color: var(--text-secondary);
    width: 100%;
}
.home-upper{
    height: 90vh;
    display: flex;
}

.welcome{
    height: 90vh;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.welcome-right{
    height: 90vh;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
}
.welcome-right img{
   height: 550px;
}

.welcome h1{
    font-size: 80px;
    color: var(--text-primary);
}
.welcome h3{
    color: var(--text-primary);
    font-size: 60px;
}
.welcome p {
    font-size: 30px;
    color: var(--text-primary);
    font-style: italic;
    text-align: center;


    
}
span{
    color: rgb(109, 109, 109);
}


@media (min-device-width: 320px) and (max-device-width: 812px) {
    .home{
        width: 100%;
    }
        .welcome-right img {
            height: 0;
        }
    .welcome-right{
        width: 0;
        height: 0;
    }
    .home-upper{
        flex-direction: column;
        height: 100vh;
    }
    .welcome{
        text-align: center;
        margin-top: 40px;
        width: 100%;
    }
    .welcome h1{
        margin-top: 120px;
    }
    .welcome h3{
        margin-top: -80px;
    }
}




