@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

/* 834 x 1103 */

.home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    font-family: 'DM Sans', sans-serif;
    color: var(--text-secondary);
    background-color: var(--text-secondary);
    width: 100%;
}
.home-upper{
    height: 90vh;
    display: flex;
}

.welcome{
    height: 90vh;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: 10px solid blue; */
}
.welcome-right{
    /* border: 1px solid red; */
    height: 90vh;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
}
.welcome-right img{
   height: 700px;
}

.welcome h1{
    font-size: 80px;
    /* margin-top: 10px; */
    /* margin-left: -900px; */
    color: var(--text-primary);
    /* border: 1px solid red; */
}
.welcome h3{
    /* margin-left: -900px; */
    color: var(--text-primary);
    /* border: 1px solid red; */
    font-size: 60px;
}
.welcome p {
    font-size: 30px;
    color: var(--text-primary);
    font-style: italic;
    text-align: center;
    /* border: 1px solid red; */


    
}
span{
    color: rgb(239, 153, 48);
}


@media (min-device-width: 320px) and (max-device-width: 812px) {
    .home{
        width: 100%;
    }
        .welcome-right img {
            height: 0;
        }
    .welcome-right{
        width: 0;
        height: 0;
    }
    .home-upper{
        flex-direction: column;
        /* border: 1px solid blue; */
        height: 100vh;
    }
    .welcome{
        text-align: center;
        margin-top: 40px;
        /* border: 1px solid blue; */
        width: 100%;
    }
}





/*highlight*/

