.NavBar{
    width: 100%;
    height: 80px;
    display: flex;
    /* justify-content: space-between; */
    /* border: 1px solid; */
    position: fixed;
        top: 0;
        z-index: 1;
        background-color: rgba(255, 255, 255, 1);
        backdrop-filter: saturate(180%) blur(20px);
}

.NavLogo{
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-icons{
    right: 0;
    /* border: 1px solid blue; */
    position: fixed;
    width: 90px;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
.nav-icon{
    height: 40px;
    width: 40px;
    
}

.NavLinks{
        height: 100%;
            width: 0px;
            position: fixed;
            z-index: 1;
            top: 0;
            right: 0;
            background-color: rgb(255, 255, 255);
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 60px;
}

.NavLinks a{
    padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #000000;
        display: block;
        transition: 0.3s;
}

.NavLinks a:hover{
    text-decoration: underline;
    color: rgb(239, 153, 48);
}

.NavLinks.active{
    width: 250px;
    /* position: relative; */
}

.logo{
    width: 150px;
    height: 60px;
    margin-left: 25px;
}

  .theme-button {
    color: var(--text-primary);
    background-color: var(--background);
    border: 2px var(--text-primary) solid;
    position: absolute;
    float: right;
    margin-left: 200px;
    margin-top: 7px;
    transition: all .5s;
    width: 60px;
    height: 60px;
  }



  @media (min-device-width: 320px) and (max-device-width: 812px){
    .NavBar{
        /* background-color: red; */
        width: 100%;
    }
    .Nav-icons{
                top: 0;
                /* background-color: red; */
                
         
    }
    
  }